 {{!-- Papers is an entity => we need the whole crud views --}}
<h1>Papers</h1>
<div class="row">
    {{#each papers}}
        <div class="col s12 m4">
            <div class="card card-main h-100">
                <div class="card-image">
                    {{#if user}}
                        {{{editIcon user.id ../user.id id}}}
                    {{/if}}
                    <a href="/papers/edit/{{id}}" class="btn-floating halfway-fab red">
                        <i class="fa fa-pencil"></i>
                    </a>
                </div>
                <div class="card-content center-align">
                    <b class="card-content-title"><h6>{{title}}</h6></b>
                    <p class="paper-text">{{ truncate body 150 }}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="Contact Person">
                        <a href="/papers/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                    </div>
                </div>

                <div class="card-action  center-align">
                    <a class="btn grey" href="/papers/show/{{id}}">Read More</a>
                </div>
        </div>
    </div>
    {{else}}
    <p>No Papers Found</p>
    {{/each}}
</div>